.addDatos {
    background-color: $off-black2;
    margin: auto;
    margin-bottom: 2.6rem;
    text-align: left;
    padding: 0.5rem 0 0.5rem 0;
    color: $text-color;
}
.form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3.5rem;
}